<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Developed</strong> by <a href="https://github.com/brunotoral">Bruno Toral</a>. The source code is free
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>
    </p>
  </div>
</footer>
